.dashboardContainer {
    padding: 40px;
    max-width: 1000px;
    margin: 0 auto;

}

.dashboardTitle {
    text-align: center;
    color: #333;
    margin-bottom: 40px;
}

.dashboardHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.categoriesGrid {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
}

.loadingText {
    text-align: center;
    margin-top: 50px;
    font-size: 1.5rem;
    color: #666;
}
.historyNavBtn{
    background-color: #3498db;
    color: white;
    padding: 10px 15px;
    border-radius: 8px;
    border: none;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

.backBtn{
    background-color: #2ecc71;
    color: white;
    padding: 10px 15px;
    border-radius: 8px;
    border: none;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

.adminNavBtn {
    background-color: #e74c3c;
    color: white;
    padding: 10px 15px;
    border-radius: 8px;
    border: none;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}